name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ published ] # has GITHUB_REF as refs/tags/<tag_name>

jobs:
  build:
    permissions:
      contents: write
    strategy:
      fail-fast: true
      matrix:
        os:
          # - macos-latest
          - ubuntu-latest
          # - windows-latest

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18.16
        cache: yarn
        cache-dependency-path: |
          yarn.lock

    - name: Run Type Check
        uses: borales/actions-yarn@v4
        with:
          cmd: tsc

    - name: Build
        uses: borales/actions-yarn@v4
        with:
          cmd: build
